@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 100%;
  height: 100%;
  background-color: #f7f5f7F1;
}

.btn4 span{
  transform: translateX(-101%);
  transition: transform .5s ease-in
}

.btn4:hover span{
  transform: translateX(0)
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
